.square {
    &--dark {
        background-color: cornflowerblue;
    }
    &--light {
        background-color: coral;
    }
    &--selected {
        background-color: darkseagreen;
    }
    &--potential {
        border: 1px solid rgb(87, 31, 139);
        background-color: blueviolet;
        cursor: pointer;
    }
}