.square {
    &--dark {
        background-color: cornflowerblue;
    }
    &--light {
        background-color: coral;
    }
    &--selected {
        background-color: darkseagreen;
    }
    &--potential {
        background-color: blueviolet;
    }
}