.square {
    display: flex;
    justify-content: center;
    align-items: center;

    &--dark {
        background-color: cornflowerblue;
    }
    &--light {
        background-color: coral;
    }
}